<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/common :: header" />

<body>

    <div class="container">
        <h1 class="text-center">타임리프 예제 테이블 t4</h1>
        <table class="table table-striped">
            <thead class="">
                <tr class="">
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">날짜</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="board, iterState : ${list}">
                    <td th:if=" ${iterState.index % 2 == 0} "><span th:text="${board.no + '--even' }"></span></td>
                    <td th:if=" ${iterState.index % 2 != 0} "><span th:text="${board.no + '--odd' }"></span></td>
                    <td><span th:text="${board.title}"></span></td>
                    <td><span th:text="${board.writer}"></span></td>
                    <td><span th:text="${T(com.example.demo.controller.Utils).formatTime(board.updateTime)}"></span></td>
                </tr>
            </tbody>

        </table>

        <div th:replace="include/common :: footer"  />
    </div>
</body>
</html>
